.postlist, .post, .page-content {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .postlist, .post, .page-content {
        width: 60%;
        margin: auto;
        text-align: center;
        }
}

.profile-icon {
    max-width: 100%;
    height: auto;
    width:350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;  
    object-position: 50% 85%;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
  }

.notfound {
    text-align: center;
}